<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
     <meta http-equiv="Cache-Control" content="no-store" />
     <meta http-equiv="refresh" content="60" />
  </head>
  <body>
    <h1>Token Sale Tasks</h1>
    <p>Click on a node to open its Trello card. "(XX,YY)" = Assignees' initials.</p>
    <img src="/diagram.svg"></img>
    <ul>
      <li style="color: red;">Backlog</li>
      <li style="color: orange;">Doing</li>
      <li style="color: green;">Done</li>
    </ul>
  </body>
</html>
